<!-- Main Navigation Bar Component -->
<nav class="main-navbar">
  <ul class="navbar-menu">
    <li class="navbar-item" data-tab="dashboard">
      <div class="navbar-icon-wrapper" data-tooltip="Dashboard">
        <img src="assets/images/dashboard.svg" class="navbar-icon" alt="Dashboard">
      </div>
    </li>
    <li class="navbar-item" data-tab="vaults">
      <div class="navbar-icon-wrapper" data-tooltip="Vaults">
        <img src="assets/images/vault.svg" class="navbar-icon" alt="Vaults">
      </div>
    </li>
    <li class="navbar-item" data-tab="calendar">
      <div class="navbar-icon-wrapper" data-tooltip="Calendar">
        <img src="assets/images/calendar.svg" class="navbar-icon" alt="Calendar">
      </div>
    </li>
    <li class="navbar-item" data-tab="search">
      <div class="navbar-icon-wrapper" data-tooltip="Search">
        <img src="assets/images/search-01.svg" class="navbar-icon" alt="Search">
      </div>
    </li>
    <li class="navbar-item" data-tab="settings">
      <div class="navbar-icon-wrapper" data-tooltip="Settings">
        <img src="assets/images/gear.png" class="navbar-icon" alt="Settings">
      </div>
    </li>
    <li class="navbar-item" data-tab="logout">
      <div class="navbar-icon-wrapper" data-tooltip="Logout">
        <img src="assets/images/icon.svg" class="navbar-icon" alt="Logout">
      </div>
    </li>
  </ul>
</nav>

